! Fonts
rofi.font JetBrainsMono Nerd Font Medium 15,Hurmit Nerd Font Medium 20

! These bindings can be changed, but take care to ensure they
! don't conflict with the normal rofi bindings. The normal bindings
! can also be redifined here if you use their associated inputs instead,
! but it might cause problem with other kinds of input

! These seem to be the bindings that work for me

! Previous
rofi.kb-custom-1:                    Super+Left
! Next
rofi.kb-custom-2:                    Super+Right
! Toggle Pause/Play playback
rofi.kb-custom-3:                    Super+space
! Toggle shuffle
rofi.kb-custom-4:                    Super+s
! Cycle repeat state
rofi.kb-custom-5:                    Super+r
! Custom keybinding 6
rofi.kb-custom-6:                    Alt+6
! Custom Keybinding 7
rofi.kb-custom-7:                    Alt+7
! Custom keybinding 8
rofi.kb-custom-8:                    Alt+8
