! Fonts
rofi.font JetBrainsMono Nerd Font Medium 15,Hurmit Nerd Font Medium 20

! Control+Left and Control+Right and Control+space are 
! instead being used for controlling playback
! if a future rofi update provides some way of changing 
! keybindings at runtime this might not be necessary
rofi.kb-row-select:
rofi.kb-move-word-back: Alt+b
rofi.kb-move-word-forward: Alt+f

! We need a variable number of lines (dependent on playlist length)


! Custom keybinding 1
rofi.kb-custom-1:                    Control+Left
! Custom keybinding 2
rofi.kb-custom-2:                    Control+Right
! Custom keybinding 3
rofi.kb-custom-3:                    Super+space
! Custom keybinding 4
rofi.kb-custom-4:                    Alt+4
! Custom Keybinding 5
rofi.kb-custom-5:                    Alt+5
! Custom keybinding 6
rofi.kb-custom-6:                    Alt+6
! Custom Keybinding 7
rofi.kb-custom-7:                    Alt+7
! Custom keybinding 8
rofi.kb-custom-8:                    Alt+8
